h1 {
    background: rgb(102, 102, 102);
    color: white;
    font: 30px;
    margin: 0;
    padding: 10px 10px 10px 0;
    border: 1px solid rgb(102, 102, 102);;
}

.base{
    background: rgb(204, 204, 204);
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-bottom: 1px;
    text-align: center;
}

.main {
    height: 150px;
    width: 70%;
    display: inline-block;
    position: absolute;

}

.mm{
    width: 100%;
    border: 1px solid rgb(204, 204, 204);;
}